<!DOCTYPE html>
<html>
<body>
 <div class="container">
    <h3>PRODUCTS</h3>
   
      <div>
        <%= link_to 'Add Product', new_product_path %>
      </div>
      <br>
    <table border="2" style="border-collapse: collapse; width:70%">
      <thead>
      <tr style="height:50px">
        <th>Name</th>
        <th>UPC</th>
        <th>Available On</th>
        <th>Properties</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
          <tr style="height:50px; text-align:center">
            <td><%= product.name %></td>
            <td><%= product.upc %></td>
            <td><%= product.available_on %></td>
            <% if product.property_name %>       
            <td>(<%= product.property_name %>: <%= product.property_value %>)</td>
            <% else %> 
            <td>No Properties</td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </body>
</html>